__pypackages__
.eggs
.env
.env.*
.git
.gitignore
.idea
.installed.cfg
.pre-commit-config.yaml
.pytest_cache
.Python
.venv
.vscode
.yarn
*.egg
*.egg-info
*.tar
**/*.css
**/*.css.map
build
cpmonitor/images
db
develop-eggs
dist
docker-compose.yml
downloads
eggs
frontend/.next
frontend/.storybook
frontend/node_modules
lib
lib64
LICENSE
MANIFEST
node_modules
parts
pip-wheel-metadata
sdist
share/python-wheels
var
venv
wheels