@use '../common.scss';

$padding: 30px;

.listItem {
  width: 280px;
}

.background {
  background-image: url("../../public/background-green-city.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.listGroup{
    position: relative;
    top: (-$padding);
    left: $padding;
    }

.searchMask {
  padding: $padding;
  min-width: 300px;
  min-height: 100px;
  background-color: common.$gz-color;
  border-width: 0;
  -webkit-clip-path: polygon(0 0, 0 100%, 75% 100%, 100% 60%,  100% 0);
  clip-path: polygon(0 0, 0 100%, 85% 100%, 100% 60%, 100% 0);
}

.searchMaskHeading {
  padding-bottom: 20px;
}

.input {
  border-width: 0;
  min-height: 30px;
  width: 280px;

  &::placeholder {
    opacity: 0.4;
  }
}