{% extends "admin/base_site.html" %}
{% load static %}
{% load filters %}
{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/drag-n-drop.js' %}"></script>
{% endblock extrahead %}
{% block content %}
  <div>
    <a href="{% admin_reverse 'task' 'add' _changelist_filters='city__id__exact%3D'|add:city_id %}"
       class="addlink">Handlungsfeld hinzufügen</a>
  </div>
  <div class="cap_board">
    <div class="cap_board__wrapper">
      {% for column in groups %}
        <div class="cap_board__column">
          <div class="cap_board__column-wrapper">
            <div class="cap_board__column-title">
              {{ column.title }} <a href="" class="changelink">Editieren</a> <a href="" class="deletelink">Löschen</a>
            </div>
            <div class="cap_board__task-area" id="column-{{ column.pk }}">
              {% with tasks=column|task_children %}
                {% for task in tasks %}
                  {% with margin_left=task|depth_to_margin_left %}
                    <div>
                      <svg width="15" height="15" class="inline {{ margin_left }}">
                        {% if task.numchild == 0 %}
                          <use href="{% static 'tabler-icons/tabler-sprite.svg' %}#tabler-chevron-right" />
                        {% else %}
                          <use href="{% static 'tabler-icons/tabler-sprite.svg' %}#tabler-chevron-down" />
                        {% endif %}
                      </svg>
                      <div class="cap_board__task-item inline"
                           id="drag-{{ task.pk }}"
                           draggable="true">
                        <div>{{ task.title }}</div>
                        <a href="{% admin_reverse 'task' 'change' task.pk %}" class="changelink">Editieren</a>
                        <a href="{% admin_reverse 'task' 'delete' task.pk %}" class="deletelink">Löschen</a>
                      </div>
                    </div>
                  {% endwith %}
                {% endfor %}
                <div class="cap_board__task-item">
                  <a href="{% admin_reverse 'task' 'add' _changelist_filters='city__id__exact%3D'|add:city_id %}"
                     class="addlink">Neue Maßnahme hinzufügen</a>
                </div>
              {% endwith %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
