{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block title %}
  LocalZero Monitoring - {{ city.name }}
{% endblock title %}
{% block content %}
  <div class="container-xl">
    <div class="space-y">
      <h3>Nachhaltigkeitsarchitektur in der Verwaltung Checkliste</h3>
      {% if city.assessment_administration %}
        <div class="card col-sm-12 col-lg-6">
          <div class="card-body">{{ city.assessment_administration | safe_markdown }}</div>
        </div>
      {% endif %}
      <div class="card col-sm-12 col-lg-6">
        <div class="card-body">
          <table class="table table-sm table-borderless">
            <tbody>
              {% for checklist_items, rationale_items in administration_checklist %}
                <tr>
                  <td>{{ checklist_items.0 }}</td>
                  <td>
                    {% if checklist_items.1 %}
                      <svg width="20" height="20" class="lz-icon CHECKED">
                        <use href="{% static 'tabler-icons/tabler-sprite.svg' %}#tabler-circle-check"/>
                      </svg>
                    {% else %}
                      <svg width="20" height="20" class="lz-icon EMPTY">
                        <use href="{% static 'tabler-icons/tabler-sprite.svg' %}#tabler-circle"/>
                      </svg>
                    {% endif %}
                  </td>
                </tr>
                {% if rationale_items.1.strip %}
                  <tr>
                    <td>Kommentar / Begründung: {{ rationale_items.1 | safe_markdown }}</td>
                    <td></td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
