{% load static %}
<!DOCTYPE HTML>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description"
          content="{% block description %}Monitoring von Klimaschutz-Maßnahmen in LocalZero-Kommunen{% endblock description %}">
    <title>
      {% block title %}
        LocalZero Monitoring
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'tabler/css/tabler.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'tabler/js/tabler.min.js' %}" defer></script>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
