{% extends "pageframe.html" %}
{% load martortags %}
{% block page_body %}
  <div class="row row-deck row-cards">
    {% if days_gone %}
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">Restzeit</div>
            </div>
            <div class="h1 mb-3">{{ days_left_proportion }}%</div>
            <div class="d-flex mb-2">
              <div>Noch {{ days_left }} Tage</div>
              <div class="ms-auto"></div>
            </div>
            <div class="progress" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="{{ days_gone }} Tage seit Beschluss,{{ days_left }} Tage bis zum Zieljahr" title="{{ days_gone }} Tage seit Beschluss
              <br>
              {{ days_left }} Tage bis zum Zieljahr">
              <div class="progress-bar days-left"
                   role="progressbar"
                   data-value="{{ days_gone_proportion }}"
                   aria-valuenow="{{ days_gone_proportion }}"
                   aria-valuemin="0"
                   aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="col-sm-6 col-lg-3">
      <a href="{% url 'task' city.slug %}"
         class="card card-link card-link-popup">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">Maßnahmen offen</div>
          </div>
          <div class="h1 mb-3">{{ city.incomplete_proportion }}%</div>
          <div class="d-flex mb-2">
            <div>{{ city.subtasks_count }} Maßnahmen insgesamt</div>
            <div class="ms-auto"></div>
          </div>
          <div class="progress progress-lg progress-separated">
            {% for value, label, name in city.status_proportions %}
              <div class="progress-bar lz-status {{ name }}"
                   role="progressbar"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-value="{{ value }}"
                   title="{{ value }}% {{ label }}"
                   aria-label="{{ label }}">
              </div>
            {% endfor %}
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-lg-3">
      <a href="{% url 'cap_checklist' city.slug %}"
         class="card card-link card-link-popup">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">Klimaaktionsplan</div>
          </div>
          <div class="h1 mb-3">3/10</div>
          <div class="d-flex mb-2">
            <div>Qualitätskriterien erfüllt</div>
            <div class="ms-auto"></div>
          </div>
          <div class="progress" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="{{ days_gone }} Tage seit Beschluss,{{ days_left }} Tage bis zum Zieljahr" title="{{ days_gone }} Tage seit Beschluss
            <br>
            {{ days_left }} Tage bis zum Zieljahr">
            <div class="progress-bar lz-status DELAYED"
                 role="progressbar"
                 data-value="{{ days_gone_proportion }}"
                 aria-valuenow="{{ days_gone_proportion }}"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">Verwaltungsstrukuren</div>
          </div>
          <div class="h1 mb-3">5/10</div>
          <div class="d-flex mb-2">
            <div>Strukturen umgesetzt</div>
            <div class="ms-auto"></div>
          </div>
          <div class="progress" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="{{ days_gone }} Tage seit Beschluss,{{ days_left }} Tage bis zum Zieljahr" title="{{ days_gone }} Tage seit Beschluss
            <br>
            {{ days_left }} Tage bis zum Zieljahr">
            <div class="progress-bar lz-status DELAYED"
                 role="progressbar"
                 data-value="{{ days_gone_proportion }}"
                 aria-valuenow="{{ days_gone_proportion }}"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-deck row-cards">
    {% if charts %}
      {% for chart in charts %}
        <div class="col-sm-12 col-lg-6">
          <div class="card">
            <div class="card-body">
              <figure class="lz-chart">
                <img class="d-block w-100 border"
                     height="0"
                     width="100%"
                     alt="{{ chart.alt_description }}"
                     src="{{ chart.image.url }}"/>
                <figcaption>
                  {{ chart.caption | safe_markdown }}
                  <span class="text-muted">Quelle: {{ chart.source }} - Lizenz: {{ chart.license }}</span
                    >
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% if checklist_sustainability_architecture_in_administration %}
        <h3>
          Nachhaltigkeitsarchitektur in der Verwaltung Checkliste
        </h3>
        <div class="card col-sm-12 col-lg-6">
          <div class="card-body">
            <table class="table table-sm table-borderless">
              <thead>
                <tr>
                  <th>
                    Kriterium
                  </th>
                  <th>
                    Erfüllt
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in checklist_sustainability_architecture_in_administration.items %}
                  <tr>
                    <td>
                      {{ key }}
                    </td>
                    <td>
                      {% if value %}
                        {% include "circle-checked-filled.html" %}
                      {% else %}
                        {% include "circle-x-filled.html" %}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock page_body %}
