{% extends "pageframe.html" %}
{% load martortags %}
{% block page_body %}
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-12">
        <div class="card card-md">
          <div class="card-body">
            <div class="row align-items-center">
              <h3 class="h1">Einleitung</h3>
              <div class="markdown text-muted">{{ city.introduction | safe_markdown }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card card-md">
          <div class="card-body">
            <div class="row align-items-center">
              <h3 class="h1">Charts etc.</h3>
              <div class="markdown text-muted"></div>
            </div>
          </div>
        </div>
      </div>
      {% for task in tasks %}
        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="subheader">Sektor</div>
              </div>
              <div class="h1 mb-3">
                <a href="{% url 'task' city.slug task.slugs %}">{{ task.title }}</a>
              </div>
              <div class="progress progress-separated mb-3">
                {% for value, label, name in task.statuses %}
                  <div class="progress-bar lz-status {{ name }}"
                       role="progressbar"
                       style="width: {{ value }}%"
                       aria-label="{{ label }}">
                  </div>
                {% endfor %}
              </div>
              <div class="row">
                {% for value, label, name in task.statuses %}
                  <div class="col-auto d-flex align-items-center pe-2">
                    <span class="legend me-2 lz-status {{ name }}"></span>
                    <span>{{ label }}</span>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock page_body %}
