{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block title %}
  LocalZero Monitoring - {{ city.name }}
{% endblock title %}
{% block text-content %}
  <h1>Wärmeplanung</h1>
  TODO: Einleitungstext zur WärmePlanung
{% endblock text-content %}
{% block cards %}
  <div class="row">
    <div class="card col-sm-12 col-lg-6">
      <div class="card-body">
        <div class="accordion accordion-flush" id="accordionFlushKAP">
          <h2>1. Beschluss zur Durchführung</h2>
          <p>Kommunaler Beschluss zur Durchführung der Wärmeplanung inkl. öffentlicher Bekanntmachung</p>
          {% with checklist_item=energy_plan_checklist.0 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.1 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          <h2>2. Eignungsprüfung und verkürztes Verfahren (§ 14)</h2>
          <p>
            Frühzeitiges Ausschlussverfahren: Ausschluss von nicht geeigneten Quartieren/Gebieten für Wärmenetz oder Wasserstoffnetz (z.B. für ländliche, zersiedelte Räume)
          </p>
          {% with checklist_item=energy_plan_checklist.2 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.3 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          <h2>3. Bestandsaufnahme inkl. Wärmebedarfe Status quo (§ 15)</h2>
          {% with checklist_item=energy_plan_checklist.4 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.5 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          <h2>4. Erstellung der Potenzialberechnungen (§ 16)</h2>
          {% with checklist_item=energy_plan_checklist.6 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.7 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          <h2>5. Erstellung der Zielszenarien (§ 17)</h2>
          {% with checklist_item=energy_plan_checklist.8 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.9 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.10 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.11 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          <h2>6. Einteilung in Wärmeversorgungsgebiete und -arten (§18 und 19)</h2>
          {% with checklist_item=energy_plan_checklist.12 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.13 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.14 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          <h2>7. Umsetzungsstrategie und konkrete Umsetzungsmaßnahmen (§ 20)</h2>
          {% with checklist_item=energy_plan_checklist.15 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
          {% with checklist_item=energy_plan_checklist.16 %}
            {% include "snippets/checklist-item.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endblock cards %}
