{% extends "city.html" %}
{% load martortags %}
{% block introduction %}
  <div class="col">
    <!-- Page pre-title -->
    <div class="page-pretitle">Handlungsfeld</div>
    <h1>{{ node.title }}</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="markdown text-muted">
          {{ node.description | safe_markdown | default:"Dieses Handlungsfeld hat keine Beschreibung" }}
        </div>
      </div>
    </div>
  </div>
{% endblock introduction %}
