{% extends "base.html" %}
{% load static %}
{% block content %}
  <nav class="navbar navbar-expand-sm navbar-light bg-primary mb-3">
    <div class="container">
      <a class="navbar-brand fw-bold text-white" href="{% url 'index' %}">
        <img src="{% static 'logo_inverted.png' %}"
             alt=""
             height="50"
             width="50"
             class="d-inline-block align-middle">
        LocalZero Monitoring
      </a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarMain"
              aria-controls="navbarMain"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav w-100 mb-1 mb-lg-1">
          <li class="nav-item dropdown ms-auto">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarSelectCity"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              Stadt auswählen
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarSelectCity">
              {% for city in cities %}
                <li>
                  <a class="dropdown-item" href="{% url 'city' city.slug %}">{{ city.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-7 card">
        <div class="card-body">
          <h2 class="card-title">Klimaneutrale Städte und Kommunen</h2>
          <p>Städte und Kommunen leisten einen wichtigen Beitrag zur Klimaneutralität</p>
          <p>
            <a href="https://localzero.net/">LocalZero</a> Monitoring ist eine Initiative von <a href="https://germanzero.de">GermanZero</a>, um mehr Transparenz
            zum Fortschritt der Klimaneutralität deutscher Kommunen zu schaffen. Der Fortschritt wird von ehrenamtlichen Lokalteams in den
            jeweiligen Kommunen regelmäßig aktualisiert.
          </p>
          <p>
            Wähle oben rechts deine Kommune aus, und finde heraus, welche Maßnahmen sie bereits geplant und unternommen hat, um klimaneutral zu werden!
          </p>
          <p>
            Du findest deine Kommune nicht? Dann <a href="https://germanzero.de/mitmachen/localzero-teams">finde Mitstreiter:innen</a> und gründe ein neues Team
            bei dir vor Ort!
          </p>
        </div>
      </div>
      <div class="col-5">
        <img src="https://localzero.net/lz-media/pages/assets/50ff6a8922-1672312437/wurmsham_01_800pxbreite.jpg"
             alt="Ein Lokalteam"
             width="100%"
             height="100%">
      </div>
    </div>
  </div>
  <div class="container fixed-bottom">
    <footer class="py-2 my-2 border-top">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link px-2 text-muted" href="{% url 'admin:index' %}">Admin-Login</a>
        </li>
      </ul>
    </footer>
  </div>
{% endblock content %}
