{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block content %}
  <h1>LocalMonitoring</h1>
  <p>Städte und Kommunen leisten einen wichtigen Beitrag zur Klimaneutralität</p>
  <p>
    LocalMonitoring ist eine Initiative von Localzero, um mehr Transparenz
    zum Fortschritt der Klimaneutralität deutscher Kommunen zu schaffen. Der Fortschritt wird von ehrenamtlichen
    Lokalteams in den jeweiligen Kommunen regelmäßig aktualisiert.
  </p>
  <p>
    Du findest deine Kommune nicht? Dann <a href="https://localzero.net/mitmachen/lokal">finde Mitstreiter:innen</a> und gründe ein neues Team bei dir vor Ort!
  </p>
{% endblock content %}
