{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block breadcrumbs %}
  <header class="lz-breadcrumbs-bar">
    <div class="container-xl">
      <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Start</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="{% url 'project' %}">Projekt</a>
        </li>
      </ol>
    </div>
  </header>
{% endblock breadcrumbs %}
{% block content %}
  <header class="page-header">
    <h1>LocalZero Monitoring</h1>
  </header>
  <p>Städte und Kommunen leisten einen wichtigen Beitrag zur Klimaneutralität.</p>
  <p>
    LocalZero Monitoring ist eine Initiative von Localzero, um mehr Transparenz
    zum Fortschritt der Klimaneutralität deutscher Kommunen zu schaffen. Der Fortschritt wird von ehrenamtlichen
    Lokalteams in den jeweiligen Kommunen regelmäßig aktualisiert.
  </p>
  <p>
    Du findest deine Kommune nicht? Dann <a href="https://localzero.net/mitmachen/lokal">finde Mitstreiter:innen</a> und gründe ein neues Team bei dir vor Ort!
  </p>
{% endblock content %}
