{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block title %}
  LocalZero Monitoring - {{ city.name }}
{% endblock title %}
{% block content %}
  {% if not node and city.assessment_status %}
    <div class="card col-sm-12 col-lg-12">
      <div class="card-body">{{ city.assessment_status | safe_markdown }}</div>
    </div>
  {% endif %}
  {% if node %}
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">Handlungsfeld</div>
      <h1>{{ node.title }}</h1>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          {% if node.teaser %}<strong>{{ node.teaser }}</strong>{% endif %}
          <div class="markdown text-muted">
            {{ node.description | safe_markdown | default:"Dieses Handlungsfeld hat keine Beschreibung" }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if tasks %}
    <div class="row row-deck row-cards">
      {% for task in tasks %}
        <div class="col-sm-6 col-lg-3">{% include "snippets/taskcard.html" %}</div>
      {% endfor %}
    </div>
  {% endif %}
  {% if groups %}
    <h3>Weitere Handlungsfelder</h3>
    <div class="row row-deck row-cards">
      {% for group in groups %}
        <div class="col-sm-6 col-lg-3">
          <a href="{% url 'task' city.slug group.slugs %}"
             class="card card-link card-link-pop">
            <div class="card-body">
              <div class="h2 mb-3">{{ group.title }}</div>
              <div class="col">{{ group.subtasks_count }} Maßnahmen</div>
              <div class="progress progress-lg progress-separated mb-3">
                {% for value, status in group.status_proportions %}
                  <div class="progress-bar lz-status {{ status.name }}"
                       role="progressbar"
                       data-value="{{ value }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="{{ value }} % {{ status.label }}"
                       aria-label="{{ status.label }}">
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="card-details">
              <svg width="20" height="20">
                <use href="{% static 'tabler-icons/tabler-sprite.svg' %}#tabler-plus"/>
              </svg>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
