{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block title %}
  {{ block.super }} {{ city.name }} {{ task.title }}
{% endblock title %}
{% block content %}
  <h1>LocalZero Monitoring {{ city.name }}</h1>
  <div>
    <h2>{{ task.title }}</h2>
    <p>{{ task.summary | safe_markdown }}</p>
    <div>
      <h3>Beschreibung</h3>
      <p>{{ task.description | safe_markdown }}</p>
    </div>
    <div>
      <h3>Unterteilung</h3>
      {% for subtask in subtasks %}
        <div>
          <h4>
            <a href="{% url "task" city.slug subtask.slugs %}">{{ subtask.title }}</a>
          </h4>
          <p>Debugging: {{ subtask.slugs }}</p>
          <p>{{ subtask.summary | safe_markdown }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
