@use "../../common.scss";


@mixin responsive {
  img{
    @media (max-width: 450px) {
      transform: scale(0.8);
    }
  }
}

.closedcard {
  border: none;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background-color: rgba(255, 200, 12, 0.15);
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 2rem) 100%, 100% calc(100% - 2rem), 100% 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 2rem) 100%, 100% calc(100% - 2rem), 100% 0);
  border-bottom: none;
  cursor: pointer;
}

.headertitle {
  display: flex;
  justify-content: space-between;
}

.headersecondrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  margin-left: 3rem;
  margin-right: 2rem;

  img {
    max-width: 2.5rem;
    height: auto;
  }
}

.iconrow {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 80%;

  & > * {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
  }

  h4 {
    margin-left: 0.5rem;
    font-size: 1.5em;
    margin-bottom: 0;
  }
}

.firsticon {
  grid-column: 1;
  @include responsive;
}

.secondicon {
  grid-column: 2;
  @include responsive;
}

.thirdicon {
  grid-column: 3;
  @include responsive;
}

.fourthicon {
  grid-column: 4;
  @include responsive;
}

.fifthicon {
  grid-column: 5;
  @include responsive;
}

.contentaccordion {
  margin-top: 1rem;

  & > * {
    margin-bottom: 0.5rem;
  }
}
