@use "../../common.scss";

.card {
  border: 2px solid common.$gz-secondary-color;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  cursor: pointer;
  text-decoration: none;
}

.bigcard {
  border-color: common.$gz-color;
  width: 35rem;

  .header {
    background-color: transparent;
    padding: 0;
    padding-right: 0.5rem;
  }

  .text {
    background-color: common.$gz-color;
    color: black;
    padding: 0.5rem 1rem 2rem 1rem;
    -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 2rem) 100%, 100% calc(100% - 2rem), 100% 0);
    clip-path: polygon(0 0, 0 100%, calc(100% - 2rem) 100%, 100% calc(100% - 2rem), 100% 0);
  }

  .arrow {
    width: 4rem;
    height: 4rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: common.$gz-secondary-color;
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 1.5rem) 100%, 100% calc(100% - 1.5rem), 100% 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 1.5rem) 100%, 100% calc(100% - 1.5rem), 100% 0);
}

.text {
  display: flex;
  flex-direction: column;
  color: white;
}

.title {
  margin: 0;
  font-size: larger;
}

.subtitle {
  margin: 0;
  font-weight: normal;
  font-size: small;
}

.arrow {
  color: common.$gz-color;
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
