@use "../../common.scss";

.closedcard {
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: rgba(255, 200, 12, 0.15);
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% - 1.5rem) 100%, 100% calc(100% - 1.5rem), 100% 0);
  clip-path: polygon(0 0, 0 100%, calc(100% - 1.5rem) 100%, 100% calc(100% - 1.5rem), 100% 0);
  border-bottom: none;
}

.toggle {
  margin-left: 3rem;
  margin-right: 2rem;
}
