.banner {
  height: 440px;
  position: relative;
}

.textPrimary {
  background-color: rgb(var(--bs-primary-rgb));
  color: white;
  text-align: center;
  width: 100%;
  top: 290px;
  font-size: 41px;
  position: absolute;
  z-index: 1;
  @media (max-width: 450px) {
    font-size: 2.5rem;
    line-height: 3rem;

  }
}
