$screen-width-medium: 900px;
$screen-width-small: 600px;

$menu-column-gap: 2rem;

@mixin unset-all {
  all: unset;

  &:hover::before {
    all: unset;
    width: unset;
    background: unset;
  }

  &::before {
    all: unset;
    width: auto;
    background: none;
  }
}

@mixin link-defaults {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

@mixin lz-link-hover {
  &:hover {
    border-bottom: 6px solid var(--lz-yellow);
    position: relative;
  }
}
