$lz-yellow: #ffc80c;

:root {
  --tblr-body-bg: #fff9e5;
  --tblr-font-weight-bold: 700;
  --tblr-primary: #{$lz-yellow};
  --tblr-primary-rgb: #{red($lz-yellow)}, #{green($lz-yellow)}, #{blue($lz-yellow)};
  --lz-yellow: #{$lz-yellow};
  --lz-dark-blue: #011633;
  --lz-color-complete: #9ec422;
  --lz-color-delayed: #ca3922;
  --lz-color-as-planned: #f9b31a;
  --lz-color-unknown: grey;
  --lz-color-failed: black;
}

.progress {
  --tblr-progress-height: 0.85rem;

  .progress-bar.neutral {
    background-color: #011633;
  }
}

.navbar {
  --tblr-navbar-brand-font-size: 1.25rem;
  --tblr-navbar-bg: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
  padding: 10px;

  h1 {
    color: var(--lz-yellow) !important;
    margin-right: 40px;

    img {
      margin-right: 5px;
    }
  }

  .nav-item {
    font-family: FabrikatNormal, sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    background: url(../Nav_Down.png) no-repeat center;
    background-size: 20px;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 5px;
  }
  &.lz-breadcrumbs-bar {
    background: white;
    min-height: 0px;
  }
}

.footer {
  background-color: var(--lz-dark-blue);
  color: white;
  padding: 1rem 0;

  a {
    color: white;
  }
}

.card-title {
  font-size: 2rem;
}

.lz-date-missed {
  color: red !important;
}

.lz-status {
  &.UNKNOWN {
    background-color: var(--lz-color-unknown);
  }
  &.AS_PLANNED {
    background-color: var(--lz-color-as-planned);
  }
  &.COMPLETE {
    background-color: var(--lz-color-complete);
  }
  &.DELAYED {
    background-color: var(--lz-color-delayed);
  }
  &.FAILED {
    background-color: var(--lz-color-failed);
  }
}

.lz-icon {
  &.CHECKED {
    color: var(--lz-color-complete);
  }

  &.CROSSED {
    color: var(--lz-color-delayed);
  }
}

figure.lz-chart {
  height: 400px;
  display: flex;
  width: 100% !important;
  align-items: stretch;
  flex-direction: column;

  img {
    height: 0;
    flex-grow: 1;
    object-fit: contain;
  }
}

.lz-card-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &.lines-3 {
    -webkit-line-clamp: 3;
  }

  &.lines-8 {
    -webkit-line-clamp: 8;
  }
}

.lz-construction-banner {
  background: orange;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}
