// GermanZero colors
$gz-yellow: #ffc80c;
$gz-darkblue: #011633;
$gz-green: #a3d869;

:root {
  --tblr-body-bg: #fff9e5;
  --tblr-font-weight-bold: 700;
  --tblr-primary: #{$gz-yellow}; //$gz-yellow;
  --tblr-primary-rgb: #{red($gz-yellow)}, #{green($gz-yellow)}, #{blue($gz-yellow)}; //$gz-yellow;
}

.progress {
  --tblr-progress-height: 0.85rem;

  .progress-bar.days-left {
    background-color: #011633;
  }
}

.navbar {
  --tblr-navbar-brand-font-size: 1.25rem;
  --tblr-navbar-bg: var(--tblr-primary);

  a.lz-title {
    font-size: 1rem;
    font-weight: 700;
    color: white !important;
    text-decoration: none !important;
  }

  &.lz-breadcrumbs-bar {
    background: white;
    min-height: 0px;
  }
}

.card-title {
  font-size: 2rem;
}

.lz-date-missed {
  color: red !important;
}

.lz-status {
  &.UNKNOWN {
    background-color: grey;
  }
  &.AS_PLANNED {
    background-color: #f9b31a;
  }
  &.COMPLETE {
    background-color: #9ec422;
  }
  &.DELAYED {
    background-color: #ca3922;
  }
  &.FAILED {
    background-color: black;
  }
}
