@use "bootstrap/scss/bootstrap";

* {
  margin: zero;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Droid Sans Mono", "Meleno Monaco", "Consolas", "Courrier New", monospace;
}

h1 {
  font-size: 16pt;
  color: #987400;
  padding: 10px 0px;
}
h2 {
  font-size: 14pt;
  color: #987400;
  padding: 7px 0px;
}
h3 {
  font-size: 12pt;
  color: #987400;
  padding: 5px 0px;
}
p {
  font-size: 14pt;
  color: #987400;
  padding: 5px 0px;
}

.city-heading {
  width: 100%;
  padding: 20px;
}
.city-heading p {
  text-align: justify;
}
.city-charts {
width: 100%;
padding: 20px;
}
.task-card {
  width: 100%;
}
.task-row {
  display: flex;
  width: 30px;
  border-radius: 5px;
  height: 30px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .task-card {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .city-heading {
    width: 66.666%;
  }
  .city-charts {
    width: 33.333%;
  }
  .task-card {
    width: 33.333%;
  }
}

@media (min-width: 1200px) {
  .city-heading {
    width: 50%;
  }
  .city-charts {
    width: 50%;
  }
  .task-card {
    width: 25%;
  }
}